body {
  background: #f9f7fe;
  font-family: "Roboto Mono", monospace;
}

.meteor-app {
  background: #f9f7fe;
  max-width: 600px;
  margin: 60px auto;
  box-shadow: 10px 30px 20px 5px rgba(65, 50, 100, 0.08);
  border-radius: 13px;
}

header {
  background: linear-gradient(
    109.6deg,
    rgb(177, 173, 219) 11.2%,
    rgb(245, 226, 226) 91.1%
  );
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f9f7fe;
  padding-top: 20px;
  height: 190px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

p {
  margin: 0px;
  font-size: 16px;
}

#sky {
  background: #988bb2;
  border-radius: 10px;
  font-size: 16px;
  width: 100px;
  text-align: center;
  padding: 5px 0;
}

.cloud1 {
  margin-left: 10px;
}

.current-weather {
  margin-right: 70px;
  color: #ffffff;
}

.other-days {
  font-size: 12px;
  font-weight: 800;
}

.other-temps {
  color: #ffffff;
  font-size: 24px;
  font-weight: 800;
}

.other-sky {
  font-size: 12px;
  font-weight: 800;
  color: #988bb2;
}

.other-clouds {
  font-size: 50px;
}

#time {
  font-size: 24px;
  font-weight: 600;
}

#time span {
  font-size: 66px;
}

#search-input {
  background: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 75%;
  font-size: 16px;
  padding: 10px 20px;
  margin-left: 13px;
}

#search-button {
  background: #988bb2;
  border: none;
  border-radius: 6px;
  margin-left: 5px;
  font-size: 16px;
  padding: 10px 30px;
  color: #ffffff;
}

main form {
  background: linear-gradient(
    109.6deg,
    rgb(177, 173, 219) 11.2%,
    rgb(245, 226, 226) 91.1%
  );
  padding: 10px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 10px;
}

main section {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding: 0 50px;
}

main section div {
  color: #988bb2;
  display: flex;
  justify-content: space-around;
  width: 150px;
  height: 76px;
  background: linear-gradient(
    109.6deg,
    rgb(177, 173, 219) 11.2%,
    rgb(245, 226, 226) 91.1%
  );
  border: none;
  border-radius: 12px;
  box-shadow: 1px 1px 5px 2px rgba(65, 50, 100, 0.08);
  padding: 3px;
}

footer {
  text-align: center;
  padding: 24px 0;
}
